language: php

php: 
- 5.4
- 5.5

before_script:
- composer install --dev --prefer-source --no-interaction
- mysql -e 'drop database IF EXISTS myapp_test;'
- mysql -e 'create database myapp_test;'

script: phpunit